{{#each this}}
<div class="student-card">
    <img class="student-img" src="{{url}}" alt="{{first-name}} {{surname}}">
    <div class="student-name__box">
        <span class="student-name first-name">{{first-name}}</span><span class="student-name surname">{{surname}}</span>
    </div>
</div>
{{/each}}