{{#each this}}
<li class="student__item">
    <img id="{{id}}" class="student__img" src={{src}} alt="фото учатсника команды SNSVS" />
    <p class="student__name">{{name}}</p>
    <p class="student__desc">{{description}}</p>
    <p class="student__info">{{info}}</p>
</li>
{{/each}}